
#cal-wrap {
  max-width: 1200px;
}

#cal-date {
  display: flex;
}

#cal-mth, #cal-yr {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 0;
}

#calendar {
  width: 100%;
  border-collapse: collapse;
}

#calendar tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f9fa;
  background: #343a40;
  padding: 5px;
  text-align: center;
}

#calendar tr.day td {
  border: 1px solid #ddd;
  padding: 20px 30px;
  vertical-align: top;
  background-color: #6c757d;
}

#calendar tr {
  background: #ffdede;
}

.text-grey-600 {
  background: #6c757d !important;
}

.text-grey-800 {
  background: #343a40;
}

#calendar .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #343a40;
}

#cal-event, .screening {
  padding: 15px;
  border: 1px solid #ddd;
}

#cal-event h1 {
  color: #f8f9fa;
  padding: 0;
  margin: 0;
}

#cal-event textarea, .screening {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  min-height: 100px;
}

.teal-600 {
  background: #1aa179 !important;
}

#calendar tr.day td:hover {
  background: #0a58ca !important;
  cursor: pointer;
}

#calendar tr td.blank {
  background: #343a40;
  cursor: not-allowed !important;
}

#calendar tr td.blank:hover {
  background: #343a40 !important;
}

.ninja {
  display: none !important;
}

.text-light {
  color: #f8f9fa;
}

.today {
  background-color: #adb5bd !important;
}

.theme-container {
  background: #343a40;
  color: #f8f9fa;
}

.table {
  color: #f8f9fa;
}

.btn-calender {
  color: #f8f9fa;
  float: right;
}

.line {
  border-bottom: 5px solid #000;
  margin-top: 15px;
  width: 50%;
  margin-bottom: 30px;
}
