html, body {
  height: 100%;
}

body {
  background-color: black;
  background-image: linear-gradient(to bottom,
  rgba(255, 153, 153, 0) 0%, rgba(255, 153, 153, 0) 75%, rgb(0, 0, 0) 100%),
  url("img/bg.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  .movie-link {
    padding: 16px;
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


.carousel-item{
  max-height: 300px;
  min-height: 200px;
  border-radius: 25px;
}


.carousel-caption {
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 4px black;
}

.movie-width {
  background-color: #212527;
  max-width: 240px;
  margin-top: 30px;
}

.movie-body {
  height: 120px;
  background-color: #212527;
  color: white;
  overflow: hidden;
}

.card-body.movie-body {
  height: 120px;
  background-color: #212527;
  color: white;
  overflow: hidden;
}

.movie-title {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  max-height: 4rem;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}


.movie-text {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
  max-height: 4rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}

.menu-wrapper {
  margin-top: 1.5em;
}


.menu-img {
  max-width: 40px;
  max-height: 40px;
}

.menu-price {
  text-align: right;
}

.menu-title {
  font-style: italic;
  font-size: x-large;
  color: #f8f9fa;
}

.section-title{
  color: #f8f9fa;
}

.menu-content {
  font-size: large;
  color: #f8f9fa;
}

.menu-item {
  border-bottom: dotted 2px #f8f9fa;
}

.container-main{
  max-width: 1280px;
}

.card-img-maxSize {
  max-width: 240px;
  max-height: 336px;
}

.navbar-box {
  padding-bottom: 70px;
}

.logo {
url("img/Pavilion logocrop.jpg");
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
}

.list-group-item {
  background-color: #212527;
  color: white;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.movie-link {
  padding-left: 16px;
}

.seats {
  border-radius: 1rem 1rem 0 0;
  height: 50px;
  width: 50px;
}

.seats:hover {
  background-color: #0a58ca;
  cursor: pointer;
}

.seats-container {
  display: flex;
}

.seats-row {
  display: block;
}

.seats-container input[type=checkbox] {
  display: none;
}

.seats-container input, .seats-container .check {
  visibility: hidden;
}

.seats-container label {
  display: block;
  border: solid 1px #000;
  line-height: 40px;
  height: 50px;
  width: 55px;
  border-radius: 20px 20px 0 0;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
}

.seats-container input:checked + label {
  background-color: #1aa179;
}

.seats-disabled {
  background-color: #b02a37 !important;
}

.seats-disabled:hover {
  cursor: not-allowed;
}

.seats-container input:checked + label:before {

}

.seats-container input.checkbox:checked + label:before {
  content: "";
}

.seats-container input:checked + label .check {
  visibility: visible;
}
